* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: rgb(207, 207, 207);
}

.modoOscuro {
    background-color: rgb(30, 30, 30);
}

header {
    background-color: rgb(203, 40, 40);
    text-align: center;
    color: beige;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.navBar {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
}

.navBar li {
    display: inline-block;
}

.navBar li a {
    color: beige;
    display: block;
    padding: 7px;
}

.cajaBoton {
    padding-left: 7px;
}

.botonDark {
    padding: 5px;
    background-color: rgb(0, 0, 0);
    border: solid beige 1px;
    border-radius: 5px;
    color: beige;
}

.botonLight {
    padding: 5px;
    background-color: beige;
    border: solid rgb(0, 0, 0) 1px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
}

.tituloPrincipal {
    display: inline-block;
    font-size: 70px;
    font-weight: 100;
    font-family: 'Climate Crisis', cursive;
}

.seccionBuscar {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    background-color: rgb(195, 195, 174);
    color: beige;
}

.barraBuscar {
    width: 70%;
    height: 25px;
}

.botonCarrito {
    font-family: 'Climate Crisis', cursive;
    color: white;
    background-color: rgb(195, 195, 174);
    border: none;
    padding: 4px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgb(0, 0, 0);
}

.estructura {
    height: 100%;
}

.container {
    background-color: beige;
    margin: 0px 20px 20px;
    padding: 20px;
    padding-bottom: 40px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    height: fit-content;
}

.containerDark {
    background-color: #020202;
}

.productosNuevosD {
    color: beige;
}

.container h3 {
    font-size: 30px;
    padding-bottom: 30px;
    font-weight: 900;
    font-family: 'Climate Crisis', cursive;
    font-weight: 100;
}

.container ul {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.container li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.img button {
    width: 250px;
    height: 250px;
    border: none;
    background-color: white;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.info {
    width: 100%;
    color: beige;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 0px 3px beige;
}

.info h4 {
    text-align: center;
    font-family: 'Tilt Warp', cursive;
}

.info p {
    text-align: center;
    font-family: 'Tilt Warp', cursive;
    margin-top: 3px;
    margin-bottom: 4px;
}

.info button {
    width: 100%;
    background-color: beige;
    border: none;
    border-radius: 5px;
    color: black;
    height: 25px;
}

.info button:hover {
        background-color: #000000;
        color: beige;
        border: solid beige 0.5px;
        cursor: pointer;
    
}

.zptllD {
    background-image: url(../img/zapatilla\ deportiva.webp);
}

.zptllU {
    background-image: url(../img/zapatilla\ urbana.webp);
}

.sandalias {
    background-image: url(../img/sandalia.webp);
}

.zptDv {
    background-image: url(../img/zapatos\ dv.webp);
}

.chanclas {
    background-image: url(../img/chanclas.jfif);
}

.seccionTitulo {
    color: beige;
    background-color: rgb(203, 40, 40);
    height: 50px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.tituloCarrito {
    font-size: 30px;
    font-weight: 900;
    font-family: 'Climate Crisis', cursive;
    font-weight: 100;
}


.botonVolver {
    font-family: 'Climate Crisis', cursive;
    color: white;
    background-color:rgb(203, 40, 40);
    border: solid beige 0.5px;
    padding: 4px;
    border-radius: 5px;
}

.botonVolver a {
    color: beige;
}

.fondoCarrito {
    height: 100%;
    background-color: beige;
    margin: 0px 20px;
}

.tarjetaCarrito {
    padding: 20px;
}

.datosTarjeta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: rgb(218, 218, 192);
    border-radius: 4px;
    color: rgb(175, 35, 35);
    font-family: 'Climate Crisis', cursive;

}

.nombre {
    color: black;
}

.imagen {
    background-color: white;
    width: 150px;
    height: 150px;
    padding: 10px;
    border-radius: 5px;
}

.imagen img {
    width: 100%;
    height: 100%;
}

.eliminar {
    color: white;
    background-color:  rgb(203, 40, 40);
    border: none;
    padding: 4px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgb(0, 0, 0);
}

.seccionCompra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: beige;
    margin: 0px 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.bVaciar {
    font-family: 'Konkhmer Sleokchher', cursive;
    background-color: black;
    color: beige;
    margin-right: auto;
    width: 100px;
    height: 50px;
    padding: 5px;
    border: solid black 1px;
    border-radius: 5px;
}

.bVaciar:hover {
    background-color: beige;
    color: black;
    border: solid rgb(0, 0, 0) 0.5px;
    cursor: pointer;

}

.junteCompra {
    display: flex;
    align-items: center;
    gap: 10px;
}

.total {
    font-family: 'Konkhmer Sleokchher', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    color: beige;
    background-color: rgb(197, 70, 70);
    margin-right: auto;
    height: 50px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgb(0, 0, 0);
}


.bComprar {
    font-family: 'Konkhmer Sleokchher', cursive;
    color: beige;
    background-color: rgb(203, 40, 40);
    margin-right: auto;
    width: 100px;
    height: 50px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgb(0, 0, 0);
}

.bComprar:hover {
    background-color: beige;
    color:  rgb(203, 40, 40);
    border: solid  rgb(203, 40, 40) 0.5px;
    cursor: pointer;

}

.mensajeVacio {
    font-size: 17px;
    font-family: 'Climate Crisis', cursive;
    font-weight: 100;
}

.fondoFooter {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: beige;
    padding: 8px;
    text-align: center;
    border-radius: 5px;
    margin: 20px 20px;
}

footer h3 {
    padding: 5px;
}